/ConsoleInputObject_1.class
/ConsoleInputObject1_1.class
/ConSoleInputObject_3.class
/ConsoleinputObject_4.class
/ConsoleOutputObject.class
/ConsoleOutputObject_2.class
/EX06_ConsoleInputOutPutObject.class
